<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация соискателя</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Навигационное меню -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Рекрутинг персонала</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная <span class="sr-only">(текущая)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recruiter/new">Рекрутер</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/applicant/new">Соискатель</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Заголовок страницы -->
<div class="container mt-4 text-center">
  <h1>Список резюме</h1>
</div>

<!-- Блоки соискателей -->
<div th:if="${resumes.size() == 0}" class="container mt-4 text-center">
  <span>Список пуст</span>
</div>
<div class="container mt-4">
  <div th:each="resume : ${resumes}" class="row justify-content-center">
    <div class="col-lg-8 applicant-block">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="${selectedApplicant.firstName + ' ' + selectedApplicant.lastName}"></h5>
          <p class="card-text" th:text="${resume.professionalExperience}"></p>
          <p class="card-text" th:text="${resume.skills}"></p>
          <p class="card-text" th:text="${resume.projects}"></p>
          <p class="card-text" th:text="${resume.certificates}"></p>
          <p class="card-text" th:text="${resume.status}"></p>
          <a class="btn btn-info" th:href="@{'/resume/details/' + ${resume.applicantId}}">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a class="btn btn-info mr-2" th:href="@{'/resume/new'}">Добавить резюме</a>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
