<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Навигационное меню -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Рекрутинг персонала</a>
    <!-- Вставьте здесь код для навигационного меню, если требуется -->
</nav>

<!-- Контент страницы -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Ошибка!</h4>
                <p>Запрошенная страница не найдена или доступ к ней не доступен.</p>
                <hr>
                <p class="mb-0">Вернуться на <a href="/" class="alert-link">главную страницу</a>.</p>
            </div>
        </div>
    </div>
</div>

<!-- Скрипты Bootstrap и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
